@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap");
body {
  padding: 0;
  margin: 0px;
  font-family: "roboto", sans-serif;
}

main {
  padding: 0 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  margin-bottom: 1rem;
}

.maps {
  margin-bottom: 4rem;
}

h3,
p {
  margin: 0;
}

header {
  text-align: center;
  padding: 0.3rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  font-family: "Shrikhand", cursive;
  position: relative;
}

header h1 {
  margin: 0;
  margin-top: 0.5rem;
}

.city {
  background-color: #f0ebeb;
  text-align: center;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 0.8rem;
}
.city i {
  font-size: 1.3rem;
}
.city h2 {
  font-weight: 400;
}

.title {
  text-align: center;
  font-size: 1.1rem;
  background-color: #f6f6f6;
  margin: -1rem;
  margin-bottom: 4rem;
  font-weight: 300;
}
.title button {
  border-radius: 2rem;
  padding: 1rem;
  margin: 25px;
  color: white;
  font-weight: bolder;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 2px 1px 8px -3px black;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
}
.title button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.menu {
  counter-reset: steps;
  margin-bottom: 6rem;
}
.menu h2 {
  margin-left: 2rem;
}
.menu ol {
  display: flex;
  gap: 2rem;
  font-weight: bold;
}
@media (max-width: 1000px) {
  .menu ol {
    flex-direction: column;
  }
}
.menu li {
  position: relative;
  background-color: #f6f6f6;
  padding: 1.5rem 2rem;
  border: 1px solid;
  border: none;
  border-radius: 1rem;
  flex-grow: 1;
  list-style-type: none;
  box-shadow: 2px 1px 8px -3px #838080;
}
.menu li::before {
  content: counter(steps);
  counter-increment: steps;
  background-color: #9356DC;
  color: white;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -1rem;
  transform: translateY(-50%);
}
.menu li:hover {
  transform: scale(1.02);
}
.menu li i.fas {
  margin-right: 1rem;
  color: #f5f4f4;
  font-size: 1.5rem;
}
.menu li i.fas:hover {
  color: #9356DC;
}

.menus {
  background-color: #f6f6f6;
  padding: 9px;
  margin-bottom: 2rem;
  margin: -1rem;
}
.menus h2 {
  margin-left: 1rem;
}
.menus .menus__cards {
  display: grid;
  flex-wrap: wrap;
  gap: 2rem;
}
.menus .card .card_image {
  width: 100%;
  height: 240px;
  border-radius: 1rem 1rem 0 0;
}
.menus .new {
  position: relative;
}
.menus .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99E2D0;
  color: #2c9c81;
  font-weight: 500;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
}
.menus .card__description {
  position: relative;
  background-color: #f6f6f6;
  border-radius: 0 0 1rem 1rem;
  padding-bottom: 1rem;
  margin-top: -1rem;
  box-shadow: 2px 1px 8px -3px black;
}
.menus .card__description i {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.menus .card__description .fas {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
}
.menus .card__description:hover .fas {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}
.menus .card__description h3,
.menus .card__description p {
  padding: 0.3rem;
}

footer {
  background-color: #353535;
  color: white;
  padding: 1px 2rem;
  margin-top: 5rem;
}
footer h2 {
  font-family: "Shrikhand", cursive, "sans-serif";
  font-weight: 100;
  margin-bottom: -0.8rem;
  font-size: 1.2rem;
}
footer li {
  list-style-type: none;
  padding: 0.2rem;
}
footer ul {
  padding: 0.5rem;
  margin-left: -1rem;
}
footer .footer_icon {
  margin-right: 0.5rem;
  width: 1.2rem;
}

.resto__title {
  background-color: white;
  position: relative;
  margin-top: -59px;
  border-radius: 3rem 3rem;
}
.resto__title h2 {
  font-family: "Shrikhand", cursive;
  padding: 2rem 1rem;
}

.banner img {
  display: block;
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  object-fit: cover;
}

.menu__title i {
  position: absolute;
  right: 1rem;
  transform: translateY(-50%);
  top: 20rem;
}

.menu__title i {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.menu__title .fas {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
}
.menu__title:hover .fas {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}
.menu__title .main__like {
  position: relative;
  top: -4rem;
}

.menu__full {
  background-color: #f5f4f4;
}
.menu__full .meal {
  background-color: white;
  border-radius: 1rem 1rem 1rem 1rem;
  box-shadow: 2px 1px 8px -3px #838080;
}
.menu__full .last__line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.resto__main {
  padding: 0 2rem;
}

/*# sourceMappingURL=style.css.map */
