.city {
    background-color: #f0f0f0;
    text-align: center;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 0.8rem;

    & i {
        font-size: 1.3rem;
    }
    h2 {
        font-weight: 400;
    }
}
.loader {
    @include loader;
    
    }

