main .city {
    background-color: #f0ebeb;
    text-align: center;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 0.8rem;

    & i {
        font-size: 1.3rem;
    }
}