@import "../utils/variables";

footer {
    background-color: $color-darkgrey;
    color: white;
    padding: 1px 2rem;
    margin-top: 5rem;

    h2 {
        font-family: $font-cursive, "sans-serif";
        font-weight: 100;
        margin-bottom: -0.8rem;
        font-size: 1.2rem;

    }
    li {
        list-style-type: none;
        padding: 0.2rem;
    }
    & ul {
        padding: 0.5rem;
        margin-left: -1rem;
    }
    .footer_icon {
        margin-right: 0.5rem;
        width: 1.2rem;
    }
}