@import "../utils/variables";

footer {
    background-color: $color-darkgrey;
    color: white;
    padding: 1px 2rem;
    margin-top: 5rem;

    h2 {
        font-family: $font-cursive, "sans-serif";
        font-weight: 200;
        margin-bottom: -0.8rem;
        font-size: 1.2rem;

    }
    li {
        list-style-type: none;
        padding: 0.2rem;
    }
    & ul {
        padding: 0.5rem;
    }
}