@import "../utils/variables";
@import "../utils/mixins.scss";


.menus {
    padding: 9px;
    margin-bottom: 2rem;
    @media (min-width: $break-point) {
    }

    
    .menus__title {
        @media (min-width: $break-point) {
            text-align: center;
        }
    }
    h2 {
        margin-left: 1rem;
    }
    .menus__cards {
        display: grid;
        flex-wrap: wrap;
        gap: 2rem;
        background-color: $light-grey;
        padding: 1rem;
        margin: -1.5rem;
        padding-bottom: 6rem;
        @media (min-width: $break-point) {
            margin: auto;
            max-width: 1667px;
            grid-template-columns: repeat(2,1fr);
            position: relative;
        }
        .card_image {
            width: 100%;
            height: 199px;
            border-radius: 1rem 1rem 0 0;
            object-fit: cover;
            @include base-white;
            @media (min-width: $break-point) {
            }
        }
    }
    .new {
        position: relative;
    }
    .new::before {
        content: "Nouveau";
        position: absolute;
        height: 2rem;
        width: 5rem;
        background-color: $color-tertiary;
        color: darken($color-tertiary, 35%);
        font-weight: 500;
        display: grid;
        place-items: center;
        right: 1rem;
        top: 1rem; 
    }
    .card__description {
        position: relative;
        background-color: $light-grey;
        border-radius: 0 0 1rem 1rem;
        padding-bottom: 1rem;
        margin-top: -1rem;
        @include box-white;
        i {
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
        }
        .fas {
            color: transparent;
            opacity: 0;
            transition: all 200ms ease-in-out;
            background-clip: text;
            -webkit-background-clip: text;
            @include gradient;
        }
        
        &:hover .fas {
            opacity: 1;
            transform: translateY(-50%) scale(1.2);
        }

        h3,
        p {
            padding: 0.3rem;
        }
        
    }
}