@import "../utils/mixins.scss";

.title {
    text-align: center;
    font-size: 1.1rem;
    background-color: #f6f6f6;
    margin: -1rem;
    margin-bottom: 4rem;
    padding: 1rem;
    font-weight: 300;


    & button {
        border-radius: 2rem;
        padding: 1rem;
        margin: 25px;
        color: white;
        font-weight: bolder;
        border: none;
        font-size: 1rem;
        cursor: pointer;
        width: 15rem;;
        transition-duration: .25s;
        @include base-shadow;
        @include gradient;
    }
    & button:hover {
        transform: scale(1.02);
        opacity: 0.9;
    }
}