@mixin quarterspin {
    @keyframes quarterspin {
        from {
            transform: rotate(-270deg);
        }
        to {
            transform: rotate(0);
        }
    }
}

@keyframes appear {
    from {
        transform: translateY(-50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes disappear {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}
@keyframes spin {
    to {
        transform: rotate(360deg) ;
    }
}
