@mixin base-shadow {
    box-shadow: 2px 1px 8px -3px black;
}
@mixin base-white {
    box-shadow: 2px 1px 8px -3px #838080;

}
@mixin box-white {
    box-shadow: 1px 9px 8px #e6e6e6;
}
@mixin gradient {
    background-image: linear-gradient(to top, $color-primary, $color-secondary);
}
@mixin zoom {
    transform: scale(1.02);
    
}
@mixin header {
    text-align: center;
    padding: 0.3rem;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
    font-family: 'Shrikhand', cursive;
    position: relative;
    
}
@mixin heart {
    i {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
    }
    .fas {
        color: transparent;
        opacity: 0;
        transition: all 200ms ease-in-out;
        background-clip: text;
        -webkit-background-clip: text;
        @include gradient;
    }
    
    &:hover .fas {
        opacity: 1;
        transform: translateY(-50%) scale(1.2);
    }

}
@mixin footer {
    footer {
        background-color: $color-darkgrey;
        color: white;
        padding: 1px 2rem;
    
        h2 {
            font-family: $font-cursive, "sans-serif";
            font-weight: 100;
            margin-bottom: -0.8rem;
            font-size: 1.2rem;
    
        }
        li {
            list-style-type: none;
            padding: 0.2rem;
        }
        & ul {
            padding: 0.5rem;
            margin-left: -1rem;
        }
        .footer_icon {
            margin-right: 0.5rem;
            width: 1.2rem;
        }
    }
}
@mixin btn {
    border-radius: 2rem;
    padding: 1rem;
    margin: 25px;
    color: white;
    font-weight: bolder;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    width: 11rem;
    @include base-shadow;
    @include gradient;
    &:hover {
        transform: scale(1.02);
        opacity: 0.9;
    }
}
@mixin font-awesome {
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
}
@mixin loader {
        background-color: $light-grey;
        height: 100vh;
        position: fixed;
        inset: 0;
        z-index: 1;
        opacity: 0.9;
        display: grid;
        place-items: center;
        transform-origin: top;
        animation: disappear 200ms 1s forwards;
        &::after {
            content: "";
            height: 100px;
            width: 100px;
            border-right: 5px solid transparent;
            border-top: 5px solid $color-primary;
            border-bottom: 5px solid $color-secondary;
            border-radius: 50%;
            animation: spin 2s infinite linear;
        }
}